#container {
  height: calc(100vh - 75px);
  width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  position: relative;
  /*  防止 transition 抖动 */
  transition: none;
  /*  强制 GPU 复合层单独渲染 */
  transform: translateZ(0);
  backface-visibility: hidden;
}
#videoContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  visibility: hidden;
}
:deep(.label) {
  padding: 20px;
  background: #123ca8;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}
.operate-box {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fullscreen-icon {
  font-size: 20px;
  position: absolute;
  z-index: 1000;
  top: 15px;
  right: 20px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}
.fullscreen-icon:hover {
  transform: scale(1.2);
  color: #174cd6;
}
/* 浮动按钮 */
.light-handle {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  transition: 0.2s;
}
.light-handle:hover {
  transform: scale(1.05);
}
/* 漂浮面板样式 */
.light-panel {
  position: absolute;
  top: 5%;
  right: 2%;
  width: 15%;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 14px 16px;
  z-index: 100;
  user-select: none;
  backdrop-filter: blur(8px);
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
.slider-item {
  margin: 10px 0;
}
/* 动画 */
.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: all 0.3s ease;
}
.fade-slide-enter-from,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
.fade-slide-leave-active {
  pointer-events: none;
  /* 离开动画时禁用点击 */
}
#container {
  position: relative;
  overflow: hidden;
}
#container > div {
  outline: 1px solid red !important;
}
#container > div[style*='position: absolute']:not(.label-panel):not(.light-panel) {
  background: transparent !important;
}
