#container {
  height: calc(100%);
  width: calc(100%);
  overflow: hidden;
  background-color: #f0f0f0;
  transition: width 0.3s, height 0.3s;
  position: relative;
}
#videoContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  visibility: hidden;
}
.jindu-con {
  width: 300px;
  height: 10px;
  border-radius: 50px;
  background-color: white;
  margin-top: 10px;
  overflow: hidden;
}
#jindu {
  height: inherit;
  background-color: #007bff;
  width: 0;
}
#jindu-text-con {
  width: 300px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
:deep(.label) {
  padding: 20px;
  background: #123ca8;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}
.operate-box {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fullscreen-icon {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 20px;
  color: #00ffff;
}
.fullscreen-icon:hover {
  transform: scale(1.2);
  color: #33ffff;
}
